In [40]:
# Importing the libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [41]:
# Importing the dataset
datasets = pd.read_csv('Data.csv')
type(datasets)

pandas.core.frame.DataFrame

In [42]:
# Given dataset contains:
datasets.head(1)

  Country   Age   Salary Purchased
0  France  44.0  72000.0        No

In [43]:
X = datasets.iloc[:, :-1]

In [44]:
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [45]:
X = datasets.iloc[:, :-1].values

In [46]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [47]:
Y = datasets.iloc[:, 3].values

In [48]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'], dtype=object)

# Missing Data
Complete missing data - [ scikit-learn - docs - Imputer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Imputer.html)

In [49]:
# Take care of missing values
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputer = imputer.fit(X[:,1:3])
X[:,1:3] = imputer.transform(X[:,1:3])

In [50]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

# Train Dataset & Test Dataset

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
print("\nDataset 1:\n", X)
print("\nDataset 2:\n", Y)

Dataset 1:
 [['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

Dataset 2:
 ['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [57]:
# Arrays as first parameters
# test_size - in most cases 0.2 || 0.25 
# test_size - how much data it's going to testset and trainset 
x_test, x_train, y_test, y_train = train_test_split(X, Y, test_size=0.2, random_state=0)

In [60]:
print("\nDataset x_test:\n", x_test)
print("\nDataset x_train:\n", x_train)

print("\nDataset y_test:\n", y_test)
print("\nDataset y_train:\n", y_train)

Dataset x_test:
 [['Germany' 40.0 63777.77777777778]
 ['France' 37.0 67000.0]
 ['Spain' 27.0 48000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Spain' 38.0 61000.0]
 ['France' 44.0 72000.0]
 ['France' 35.0 58000.0]]

Dataset x_train:
 [['Germany' 30.0 54000.0]
 ['Germany' 50.0 83000.0]]

Dataset y_test:
 ['Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'No' 'Yes']

Dataset y_train:
 ['No' 'No']